*{
    font-family: Roboto;

}


.main {
    text-align: center;
    
}

.main .forms {
    display: flex;
    justify-content: center;
    
}

.main .forms center{
    background-color:  #7EE5DA ;
    margin-left: 0.3rem;
    width: 37%;
}

.search-box{
    background-color: #EEEEEE;
    
}

.main-1 .search-box p{
    margin-bottom: 0.1rem;    
    
}

.main-1 .search-box input{
    padding: 1px 6px;
    margin-top: 1;
}

.footer{
    text-align: center;
}